/*colors: #F2F2F2 (wit) #591C21 (dunkelrot) #8C1F28 (etwas weniger rot) #8C1F28 (hellrot) #044040 (grün)*/

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

article{
    margin: 2em;
}

h1{
    color: #F2F2F2;
    background: #044040;
    font-size: 2em;
    font-weight: 800;
    border: 4px dotted black;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    background-clip: padding-box;

}

img{
    width: 100%;
    height: auto;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0.2rem solid black;
    color: #F2F2F2;
    background-color: #8C1F28;
}

h2:nth-of-type(2){
    margin: 100px;
}

p{
    color: #F2F2F2;
    background-color: #044040;
}


nav{
    display: flex;
    background-color: #591C21;
    height: 100px;
}
nav ul{
    background-color: blue;
    display: flex; /*zorgt dat alles naast elkaar staat*/
    list-style: none;
}

nav ul li {
    color: #F2F2F2;
    font-size: 20px;
    padding: 30px;
    background-color: #8C1F28;
 
}

nav img{
    width: 80px;
    height: 110px;
}

main ul{
    display: flex;
    list-style: none;
    color: #F2F2F2;
    justify-content: center;
}

main ul li{
    background-color: #591C21;
}

main ul a:visited{
    color: #F2F2F2;
}

main ul a:hover{
    color: #044040;
}

main ul a:active{
    color: #F2F2F2;
}

main ul img {
    width: 7rem;
    height: 7rem;
}


section:nth-of-type(1) h2 {
    width: auto;
    padding: 1.5rem;
}

.historyc {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 1.5rem;
    background-color: #044040;
}

.historyc figure{
    width: 50%;
    height: auto;
}

.historyp {
    display: flex;
    flex-direction: column;
    background-color: #044040;
    width: 50%;
}

footer p{
    color: #F2F2F2;
    background-color: #8C1F28;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: right;
}

section:first-of-type{
    margin-bottom: 2rem;
}

